body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

nav {
  background-color: #1a2238;
}

h1 {
  font-family: "Fredoka One";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}

.front-box-sizing {
  width: 424px;
}

.front-view-card {
  background: #1a2238;
}

.category-image {
  width: 300px;
  height: 350px;
  background-size: cover;
}

.emUits {
  font-size: 50px;
}
.emUits h1 {
  padding: 1.5em;
  font-size: 3.5em;
}

.category {
  font-size: 16px;
}

.category img {
  height: 30em;
  width: 25em;
}
.category p {
  font-size: 2em;
}

.formSection {
  padding-top: 10rem;
  padding-bottom: 15rem;
}

.formSectionBox {
  padding-left: 10rem;
  padding-right: 10rem;
}

.formContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  border-radius: 10px;
}

.formdetails {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 3rem;
  padding-bottom: 12rem;
}

.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.formImage {
  background-image: url("../src/images/womenWithSale.jpg");
  background-color: #e67e22;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.formdetails h2 {
  padding-bottom: 5rem;
}

.signup-form label {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.signup-form,
input,
select {
  padding: 1.2rem;
  width: 100%;
  font-family: inherit;
  background-color: white;
  border-radius: 20px;
}

@media (max-width: 37em) {
  .formImage {
    height: 32rem;
    grid-row: 1;
  }
}

@media (max-width: 37em) {
  .formdetails {
    padding: 3.2rem;
  }
}

@media (max-width: 37em) {
  .formContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 59em) {
  .formContainer {
    grid-template-columns: 1fr;
    width: 48rem;
  }
}
